@import "_mixins.scss";
.ritual-container {
    margin: 90px 0;
    .ritual-wrapper {
        .ritual-lt-rt1 {
            display: flex;
            gap: 20px;
            .ritual-title {
                width: 50%;
                p {
                    font-size: 36px;
                    color: #0d1317;
                    font-weight: 500;
                }
            }
            .ritual-txt {
                width: 50%;
                p {
                    font-size: 18px;
                    color: #737373;
                }
            }
        }
        .ritual-lt-rt2 {
            display: flex;
            gap: 20px;
            margin-block: 30px;
            .ritual-img-lt {
                width: 50%;
                height: 420px;
                img {
                    object-fit: cover;
                }
            }
            .ritual-img-rt {
                width: 50%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                img {
                    height: 200px;
                }
            }
        }
        .ritual-main-txt {
            margin-bottom: 30px;
            p {
                color: #737373;
                font-size: 18px;
            }
        }
        .procedure-wrapper {
            display: flex;
            gap: 20px;
            .procedure-lt {
                width: 60%;
                .procedure-title {
                    margin-bottom: 20px;
                    p {
                        font-size: 36px;
                        font-weight: 500;
                    }
                }
                .procedure-txt {
                    p {
                        color: #737373;
                    }
                }
            }
            .procedure-rt {
                width: 40%;
                height: 300px;
                img {
                    object-fit: cover;
                }
            }
        }
    }
}
