@import "_mixins.scss";
.contact-container-main {
    margin-top: 90px;
    margin-bottom: 90px;
    .contact-content {
        .contact-content-lt-rt1 {
            display: flex;
            gap: 20px;
            align-items: start;
            @include respond-to(mobile) {
                flex-direction: column-reverse !important;
                gap: 0px !important;
            }
            .contact-lt1 {
                width: 50%;
                @include respond-to(mobile) {
                    width: 100% !important;
                }
                .contact-lt-header {
                    p {
                        font-size: 36px;
                        font-weight: 600;
                        @include respond-to(mobile) {
                            font-size: 28px !important;
                        }
                    }
                }
                .contact-lt-txt {
                    margin-block: 12px;
                    p {
                        color: #737373;
                        font-size: 15px;
                        font-weight: 500;
                        @include respond-to(mobile) {
                            font-size: 14px !important;
                        }
                    }
                }
            }
            .contact-rt1 {
                display: flex;
                gap: 20px;
                justify-content: space-between;
                width: 50%;
                @include respond-to(mobile) {
                    width: 100% !important;
                    gap: 10px !important;
                }
                .contact-rt {
                    .contact-rt1a {
                        display: flex;
                        gap: 5px;
                        align-items: center;
                        p {
                            font-size: 24px;
                            color: #0d1317;
                            font-weight: 500;
                            @include respond-to(mobile) {
                                font-size: 18px !important;
                            }
                        }
                        .bi {
                            width: 24px;
                            height: 24px;
                            color: $blue;
                        }
                    }
                    .rt-desc {
                        margin-top: 15px;
                        margin-bottom: 40px;
                        p {
                            font-size: 18px;
                            color: #737373;
                            font-weight: 500;
                            @include respond-to(mobile) {
                                font-size: 16px !important;
                            }
                        }
                    }
                }
            }
        }
        .contact-content-lt-rt2 {
            display: flex;
            gap: 20px;
            @include respond-to(mobile) {
                flex-direction: column !important;
            }
            .contact-lt2 {
                width: 50%;
                @include respond-to(mobile) {
                    width: 100%;
                }
                .contact-lt-form {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    @include respond-to(mobile) {
                        gap: 8px !important;
                    }
                    input[type="text"],
                    [type="email"],
                    select {
                        font-size: 16px;
                        padding: 18px 32px;
                        display: inline-block;
                        background-color: #d2daed2b;
                        color: #000000;
                        border: none;
                        outline: none;
                        box-sizing: border-box;
                        @include respond-to(mobile) {
                            font-size: 14px !important;
                            padding: 8px 12px !important;
                        }
                    }
                    ::placeholder {
                        color: #9c9c9c;
                    }
                    #msg {
                        padding-bottom: 85px;
                    }
                }
                .submit-btn {
                    margin-top: 32px;
                    button {
                        border: none;
                        padding: 12px 32px;
                        background-color: $blue;
                        border-radius: 4px;
                        cursor: pointer;
                        p {
                            color: $grey;
                            font-weight: 500;
                        }
                    }
                    button:hover {
                        background-color: $maroon;
                    }
                }
            }
            .contact-rt2 {
                width: 50%;
                @include respond-to(mobile) {
                    width: 100% !important;
                }
                iframe {
                    width: 100%;
                    height: 335px;
                }
                .contact-iframe {
                    border: none;
                }
            }
        }
    }
    @keyframes buttonScale {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }
    .submit-btn {
        button:active {
            animation: buttonScale 0.3s ease;
        }
    }
}
