@import "_mixins.scss";
.contact-container-main {
    margin-top: 90px;
    margin-bottom: 90px;
    .contact-content {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        .contact-content-lt {
            width: 50%;
            .contact-lt-header {
                p {
                    font-size: 36px;
                    font-weight: 600;
                }
            }
            .contact-lt-txt {
                margin-block: 12px;
                p {
                    color: #737373;
                    font-size: 15px;
                    font-weight: 500;
                }
            }
            .contact-lt-form {
                display: flex;
                flex-direction: column;
                gap: 16px;
                input[type="text"],
                [type="email"],
                select {
                    font-size: 16px;
                    padding: 18px 32px;
                    display: inline-block;
                    background-color: #d2daed2b;
                    color: #000000;
                    border: none;
                    outline: none;
                    box-sizing: border-box;
                }
                ::placeholder {
                    color: #9c9c9c;
                }
                #msg {
                    padding-bottom: 85px;
                }
            }
            .submit-btn {
                margin-top: 32px;
                button {
                    border: none;
                    padding: 12px 18px;
                    background-color: $blue;
                    border-radius: 4px;
                    cursor: pointer;
                    p {
                        color: $white;
                        font-weight: 500;
                        margin: 0;
                    }
                }
                button:hover {
                    background-color: $maroon;
                }
            }
        }
        .contact-content-rt {
            width: 50%;
            .contact-rt-wrapper {
                display: flex;
                justify-content: space-between;
                .contact-rt {
                    .contact-rt1 {
                        display: flex;
                        gap: 5px;
                        align-items: center;
                        p {
                            font-size: 24px;
                            color: #0d1317;
                            font-weight: 500;
                        }
                        .bi {
                            width: 24px;
                            height: 24px;
                            color: $blue;
                            border: 1px solid $blue;
                            border-radius: 50%;
                            padding: 5px;
                            cursor: pointer;
                        }
                    }
                    .rt-desc {
                        margin-top: 15px;
                        margin-bottom: 40px;
                        p {
                            font-size: 18px;
                            color: #737373;
                            font-weight: 500;
                        }
                    }
                }
            }
            iframe {
                width: 100%;
                height: 335px;
            }
            .contact-iframe {
                border: none;
            }
        }
    }
}
@keyframes buttonScale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.submit-btn {
    button:active {
        animation: buttonScale 0.3s ease;
    }
}
@keyframes iconScale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
.contact-rt1 {
    .bi:hover {
        animation: iconScale 1s ease;
    }
}
