.faq2_section {
    .left_faq_container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-block: 40px !important;
        @include respond-to(mobile) {
            padding-inline: 15px;
            padding-bottom: 30px;
        }

        .faq_accordion {
            box-sizing: border-box;
            box-shadow: 0 0 16px rgba(209, 228, 238, 0.9);
            border-radius: 4px;
            background-color: $white;
            position: relative;

            .question {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                padding-inline: 20px;
                p {
                    font-size: 16px;
                    font-weight: 500;
                    @include respond-to(tablet) {
                        font-size: 18px;
                    }

                    @include respond-to(mobile) {
                        font-size: 14px;
                    }
                }
                .icon_container {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    bottom: 0;
                    color: #066ac8;
                    background: $blue;
                    padding-inline: 20px;
                    // width: 55px;
                    display: flex;
                    align-items: center;
                    border-radius: 4px;
                    @include respond-to(mobile) {
                    }

                    &.active {
                        position: absolute;
                        background: #066ac8;
                        border-radius: 4px;
                        padding-block: 15px;
                        bottom: initial;
                        // bottom: none;
                    }
                    .icon {
                        color: white;
                        &.active {
                            transform: rotate(-180deg);
                            color: white !important;
                        }
                    }
                }
            }
            .answer {
                max-height: 0;
                overflow: hidden;

                @include respond-to(mobile) {
                    padding-inline: 20px;
                    padding-top: 2px !important;
                }
                &.active {
                    max-height: fit-content;
                    padding-right: 65px;
                    padding-bottom: 20px;
                    padding-left: 20px;

                    @include respond-to(mobile) {
                        padding-right: 40px;
                    }
                }
                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: #737373;
                    @include respond-to(mobile) {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
