
// #form {
//     text-align: center;
//     position: relative;
//     margin-top: 20px;

//     fieldset {
//         background: white;
//         border: 0 none;
//         border-radius: 0.5rem;
//         box-sizing: border-box;
//         width: 100%;
//         margin: 0;
//         padding-bottom: 20px;
//         position: relative;

//         &:not(:first-of-type) {
//             display: none;
//         }
//     }

//     .finish {
//         text-align: center;
//     }

//     .previous-step,
//     .next-step {
//         width: 100px;
//         font-weight: bold;
//         color: white;
//         border: 0 none;
//         border-radius: 0px;
//         cursor: pointer;
//         padding: 10px 5px;
//         margin: 10px 5px 10px 0px;
//         float: right;

//         &.form,
//         &.previous-step {
//             background: #616161;
//         }

//         &.form,
//         &.next-step {
//             background: #2f8d46;
//         }

//         &:hover,
//         &:focus {
//             background-color: #000000;
//         }

//         &:focus {
//             background-color: #2f8d46;
//         }
//     }

//     .text {
//         font-weight: normal;
//     }

//     #progressbar {
//         margin-bottom: 30px;
//         overflow: hidden;
//         color: lightgrey;
//         display: flex;
//         justify-content: center;

//         .active {
//             color: #000000;
//             display: flex;
//             flex-direction: column-reverse;
//             gap: 20px;
//         }

//         li {
//             list-style-type: none;
//             font-size: 15px;
//             width: 25%;
//             float: left;
//             position: relative;
//             font-weight: 400;
//             display: flex;
//             flex-direction: column-reverse;
//             gap: 20px;

//             &:before {
//                 width: 50px;
//                 height: 50px;
//                 line-height: 45px;
//                 display: block;
//                 font-size: 20px;
//                 color: #ffffff;
//                 background: lightgray;
//                 border-radius: 50%;
//                 margin: 0 auto 10px auto;
//                 padding: 2px;
//             }

//             &:after {
//                 content: "";
//                 width: 100%;
//                 height: 2px;
//                 background: lightgray;
//                 position: absolute;
//                 left: 0;
//                 top: 60px;
//                 z-index: -1;
//             }

//             &.active {
//                 &:before,
//                 &:after {
//                     background: rgba(6, 106, 200, 1);
//                 }
//             }

//             & #step1:before {
//                 content: "1";
//             }

//             & #step2:before {
//                 content: "2";
//             }

//             & #step3:before {
//                 content: "3";
//             }

//             & #step4:before {
//                 content: "4";
//             }
//         }
//     }

//     .progress {
//         height: 20px;

//         .progress-bar {
//             background-color: rgba(217, 217, 217, 1);
//         }
//     }

//     .personal_info_container {
//         background-color: rgba(239, 247, 255, 1);
//         padding: 30px 30px;
//         border-radius: 4px;
//     }

//     .personal_txt_svg {
//         display: flex;
//         align-items: center;
//         gap: 10px;
//         margin-block: 15px;

//         p {
//             margin: 0;
//             font-size: 24px;
//             font-weight: 500;
//         }
//     }

//     .form_wrapper {
//         display: flex;
//         align-items: center;
//         gap: 20px;
//     }

//     .form_left,
//     .form_right {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         gap: 15px;

//         width: 60%;

//         &.form_right {
//             width: 40%;
//         }
//     }

//     input {
//         padding: 15px;
//         outline: none;
//         border: none;
//         border-radius: 4px;
//         width: 100%;
//         font-size: 14px;
//         font-weight: 400;

//         &[type="number"] {
//             &::-webkit-outer-spin-button,
//             &::-webkit-inner-spin-button {
//                 -webkit-appearance: none;
//                 margin: 0;
//             }
//         }
//     }

//     label {
//         width: 100%;
//     }

//     fieldset {
//         display: flex;
//         justify-content: center;
//     }

//     .form_submit_container {
//         width: 75%;
//         display: flex;
//         flex-direction: column;
//     }

//     .submit_btn {
//         background: rgba(6, 106, 200, 1) !important;
//         border-radius: 4px;
//         border: none;
//         padding: 12px 8px;
//         margin-block: 20px;
//         width: 20%;

//         p {
//             font-size: 14px;
//             font-weight: 500;
//             color: white;
//             margin: 0;
//         }
//     }
// }
