@import "_mixins.scss";
.gallery-container-main {
    padding-top: 90px;
    .tabs {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-bottom: 40px;
    }
    .tab {
        cursor: pointer;
        transition: 0.3s;
        background-color: white;
        padding: 8px 0;
        border: 1px solid $blue;
        color: $blue;
        width: 140px;
        font-weight: 500;
        font-size: 20px;
    }
    .tab.active {
        background-color: $blue;
        color: white;
    }
    .content {
        display: none;
        .gallery-content-main {
            display: grid;
            // grid-template-columns: 1fr 1fr 1fr;
            grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
            gap: 20px;
            .gallery-r1 {
                .gallery-g1-title {
                    padding-top: 20px;
                    p {
                        font-weight: 500;
                        font-size: 20px;
                    }
                }
                .gallery-g1-txt {
                    margin-block: 15px;
                    p {
                        color: #737373;
                    }
                }
                .g1-img {
                    aspect-ratio: 3/2;
                    iframe {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    .content.active {
        display: block;
    }
}
