@import "_mixins.scss";
.gallery-inner-container {
    margin-block: 60px;
    .gallery-inner-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        @include respond-to(mobile) {
            grid-template-columns: 1fr 1fr !important;
            gap: 15px !important;
        }
        .g-inner-img {
            height: 230px;
            width: 100%;
            @include respond-to(tablet) {
                height: 200px;
            }
            @include respond-to(mobile) {
                height: 160px !important;
            }
            img {
                object-fit: cover !important;
            }
        }
    }
}
