@import "_mixins.scss";
.gallery-inner-container {
    margin-block: 60px;
    .gallery-inner-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        align-self: auto;
        @include respond-to(tablet) {
            grid-template-columns: 1fr 1fr !important;
            gap: 15px !important;
        }
        @include respond-to(mobile) {
            grid-template-columns: 1fr !important;
            gap: 15px !important;
        }
        .g1-img{
            #myIframe {
                height: 250px;
                width: 100% !important;
                object-fit: cover;
                @include respond-to(tablet) {
                    height: 250px;
                }
                @include respond-to(mobile) {
                    height: 200px !important;
                }
            }
        }
    }
}
