@import "_mixins.scss";
.container {
    .nb_details_container {
        display: flex;
        gap: 40px;
        margin-top: 70px;
        @include respond-to(tablet) {
            flex-direction: column;
        }
        .nb_left_container {
            width: 60%;
            @include respond-to(tablet) {
                width: 100%;
            }
            .left_first_text {
                margin-bottom: 30px;
                p {
                    font-size: 36px;
                    font-weight: 500;
                    @include respond-to(mobile) {
                        font-size: 20px;
                    }
                }
            }
            .left_container_image {
                height: 350px;
            }
            .left_container_content {
                margin-top: 30px;
                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: #737373;
                }
            }
        }

        .nb_right_wrapper_wrap {
            background: #eff7ff;
            padding: 20px;
            height: 50%;
            width: 30%;
            border-radius: 5px;
            border-left: 2px solid #066ac8;
            box-shadow: 0 0 16px rgba(177, 215, 239, 0.2);
            @include respond-to(tablet) {
                width: 100%;
            }
            .nb_right_container {
                .right_first_text {
                    position: relative;
                    margin-left: 15px;
                    margin-bottom: 10px;

                    &::before {
                        position: absolute;
                        content: " ";
                        height: 100%;
                        width: 3px;
                        background-color: #066ac8;
                        left: -15px;
                        border-radius: 2px;
                    }
                    p {
                        font-size: 18px;
                        font-weight: 500;
                    }
                }

                .nb_right_wrapper {
                    display: flex;
                    gap: 25px;
                    margin-bottom: 15px;

                    .right_container_image {
                        margin-block: 10px;
                        height: 75px;
                        width: 75px;
                        img {
                            border-radius: 5px;
                            object-fit: cover;
                        }
                    }
                    .right_text {
                        p {
                            font-size: 16px;
                            font-weight: 500;
                            margin-bottom: 10px;
                        }

                        .right_calender {
                            p {
                                .fa-calendar-week {
                                    color: #066ac8;
                                }
                                font-size: 15px;
                                font-weight: 500;
                                color: grey;
                            }
                        }
                    }
                }
            }
        }
    }
}
