@import "_mixins.scss";
.program-inner-container {
    margin-top: 90px;
    .program-inner-wrapper {
        display: flex;
        gap: 20px;
        @include respond-to(tablet) {
            flex-direction: column;
        }
        .program-inner-lt {
            width: 70%;
            @include respond-to(tablet) {
                width: 100%;
            }
            .program-inner-title {
                p {
                    font-size: 36px;
                    font-weight: 500;
                    @include respond-to(tablet) {
                        font-size: 28px;
                    }
                    @include respond-to(mobile) {
                        font-size: 24px;
                    }
                }
            }
            .program-inner-txt {
                p {
                    color: #737373;
                    margin-block: 20px;
                    font-size: 18px;
                }
            }
            .program-main-img {
                img {
                    width: 100%;
                    height: 380px;
                    object-fit: cover;
                }
            }
        }
        .program-inner-rt {
            width: 30%;
            @include respond-to(tablet) {
                width: 100%;
            }
            .program-inner-rt-content {
                padding: 16px;
                box-shadow: 0px 0px 15px 0px #1c3e951a;
                .program-inner-rt-title {
                    padding-bottom: 30px;
                    @include respond-to(tablet) {
                        padding-bottom: 20px;
                    }
                    p {
                        font-size: 20px;
                        font-weight: 500;
                    }
                    p::before {
                        content: "";
                        border-left: 2px solid $blue;
                        margin-right: 10px;
                        height: 12px;
                    }
                }
                .program-inner-rt-txt {
                    display: flex;
                    gap: 10px;
                    padding-bottom: 15px;
                    .bi-caret-right-fill {
                        color: $blue;
                        width: 16px;
                        height: 16px;
                    }
                    p {
                        font-size: 14px;
                        font-weight: 500;
                        cursor: pointer;
                        margin: 0 !important;
                    }
                }
            }
        }
        .program-inner-rt-txt:hover {
            p {
                color: $blue;
            }
        }
    }
}
