.program-inner-container {
    margin-block: 60px;
    .program-inner-wrapper {
        display: flex;
        gap: 20px;
        .program-inner-lt {
            width: 70%;
            .program-inner-title {
                p {
                    font-size: 36px;
                    font-weight: 500;
                }
            }
            .program-inner-txt {
                p {
                    color: #737373;
                    margin-block: 20px;
                    font-size: 18px;
                }
            }
            .program-main-img {
                img {
                    width: 100%;
                    object-fit: cover;
                    height: 350px;
                }
            }
        }
        .program-inner-rt {
            width: 30%;
            .program-inner-rt-content {
                padding: 16px;
                box-shadow: 0px 0px 15px 0px #1c3e951a;
                .program-inner-rt-title {
                    padding-bottom: 30px;
                    p {
                        font-size: 20px;
                        font-weight: 500;
                    }
                    p::before {
                        content: "";
                        border-left: 2px solid $blue;
                        margin-right: 10px;
                        height: 12px;
                    }
                }
                .program-inner-rt-txt {
                    display: flex;
                    gap: 10px;
                    padding-bottom: 15px;
                    .bi {
                        color: $blue;
                        margin-block: 15px;
                    }
                    p {
                        font-size: 14px;
                        font-weight: 500;
                        cursor: pointer;
                        margin: 0;
                    }
                }
            }
        }
        .program-inner-rt-txt:hover {
            p {
                color: $blue;
            }
        }
    }
}
