@import "_mixins.scss";
.introduction_page {
    padding-bottom: 20px;
    position: relative;
    .img_before {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        height: 220px;
        width: 220px;
        z-index: 9;

        img {
            object-fit: cover;
        }
    }
    .img_after {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        height: 220px;
        width: 220px;
        z-index: 9;
        transform: rotate(180deg);
        img {
            object-fit: cover;
        }
    }
    .common_image_txt {
        position: relative;
        .common_bg_wrapper {
            height: 220px;
            position: relative;

            img {
                filter: grayscale(100%);
                object-fit: cover;
            }
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%; /* Ensures the pseudo-element covers the wrapper */
                background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 50%, #000000 100%);
                pointer-events: none; /* Ensures the pseudo-element doesn't block interactions */
            }
        }
        .main_txt {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            p {
                font-size: 36px;
                font-weight: 500;
                color: white;
            }
        }
    }
}
.program-container-main {
    margin-top: 50px;
    .program-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        .program-r1 {
            .r1-img {
                img {
                    height: 174px;
                    object-fit: cover;
                }
            }
            .program-r1-title {
                margin-block: 20px;
                p {
                    font-size: 20px;
                    font-weight: 500;
                }
            }
            .readmore-none {
                display: flex;
                align-items: center;
                gap: 5px;
                margin-block: 20px;
                p {
                    color: $blue;
                    font-size: 12px;
                }
                .bi {
                    color: $blue;
                    height: 14px;
                    width: 14px;
                }
            }
        }
    }
}
.program-container-main {
    margin-top: 50px;
    .program-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        .program-r1 {
            .r1-img {
                img {
                    height: 174px;
                    object-fit: cover;
                }
            }
            .program-r1-title {
                margin-block: 20px;
                p {
                    font-size: 20px;
                    font-weight: 500;
                }
            }
            .readmore-none {
                display: flex;
                align-items: center;
                gap: 5px;
                margin-block: 20px;
                p {
                    color: $blue;
                    font-size: 12px;
                }
                .bi {
                    color: $blue;
                    height: 14px;
                    width: 14px;
                }
            }
        }
    }
}
