@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&family=Monda:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

$blue: rgba(6, 106, 200, 1);
$maroon: rgba(169, 2, 98, 1);
$white: rgba(252, 252, 252, 1);
$grey:rgba(115, 115, 115, 1);

body {
    font-family: "Rubik", serif;
}
.container {
    width: 85%;
    margin: 0 auto;
}
body {
    margin: 0;
}
img {
    height: 100%;
    width: 100%;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}
